.footer {
    padding: 1rem;
    background-color: #0E0D0D;
    color: white;
    font-family: "nova round";
    display: grid;
    grid-gap: 1rem;
    place-content: center;
    text-align: center;
}

.footer .gmail {
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
}

.footer .social-icons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    align-items: center;
    text-decoration: none;
    justify-items: center;
}

@media screen and (max-width: 280px) {
    h2 {
        text-align: center;
        font-size: 0.90 rem;
    }
}